<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<table style="width:70%" align="center">
  <tr>
    <th>Description</th>
    <th>
      <select [(ngModel)]="selectedPerson" (change)="updateListPerson()">
        <option *ngFor="let pers of persons">
          {{pers}}
        </option>
        <option value="All">All</option>
      </select>
    </th>
    <th>
      <select id="finishedState" name="finishedState" [(ngModel)]="selectedState" (change)="updateListState()">
        <option value="Done">Done</option>
        <option value="Not Done">Not Done</option>
        <option value="All">All</option>
      </select>
    </th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr align="center" *ngFor="let item of listToReturn()" >
    <td>{{item.description}}</td>
    <td>{{item.assignedTo}}</td>
    <td>{{item.done | valueOfBool}}</td>
    <td><button mat-button id="editBtn" class="btn" (click)="edit(item.description,item.assignedTo)"><i class="fa fa-edit"></i></button></td>
    <td><button class="btn" (click)="remove(item.description,item.assignedTo)" ><i class="fa fa-close"></i></button></td>
  </tr>
</table>



<p align="center">Add new task or edit a existing one: </p>
<table style="width:70%" align="center">
  <tr>
    <th>Description</th>
    <th>Assigned to</th>
    <th>Status</th>
    <th>Add</th>
  </tr>
  <tr align="center">
    <td><input type="text" [(ngModel)]="descriptionOfNewTask"  /></td>
    <td><input list="persons" type="text" [(ngModel)]="assignedPersonOfNewTask"/>
        <datalist id="persons">
          <option *ngFor="let pers of persons">
            {{pers}}
          </option>
        </datalist>
    </td>
    <td>
        <select id="finishedState" name="finishedState" [(ngModel)]="selectedStateNewTask" (change)="updateListState()">
          <option value="Done">Done</option>
          <option value="Not Done">Not Done</option>
        </select>
    </td>
    <td><button class="btn" (click)="add()"><i class="fa fa-plus"></i></button></td>
  </tr>
</table>





<router-outlet></router-outlet>
